*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  height:100vh;
  background:linear-gradient(135deg,#ff2a68,#b3003b);
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  color:white;
}

.container{
  width:350px;
  padding:30px;
  border-radius:25px;
  background:rgba(255,255,255,0.15);
  backdrop-filter:blur(12px);
  box-shadow:0 0 40px rgba(0,0,0,0.4);
  text-align:center;
  animation:fade 1.5s;
}

@keyframes fade{
  from{opacity:0;transform:scale(0.9);}
  to{opacity:1;}
}

.timer{
  margin:15px;
  padding:10px 20px;
  background:rgba(0,0,0,0.4);
  border-radius:20px;
  font-weight:bold;
}

.buttons button,
#shotBtn{
  padding:10px 20px;
  border:none;
  border-radius:20px;
  margin:10px;
  cursor:pointer;
  font-size:15px;
}

.buttons button{
  background:#fff;
  color:#ff2a68;
}

#shotBtn{
  background:#ff2a68;
  color:white;
}

#finalGif{
  width:200px;
  margin-top:15px;
}
